#imagen1 {
  position: absolute;
}
#body{
  margin-top: -1.5%;
}
.App {
  position: relative;
  z-index: 2;
  margin: 20px 150px;
}

.table{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 25%;
  text-align: center;
  border-radius: 20px;
}

.table1{
  padding: 10px;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 25%;
  border-radius: 20px;
}

#titleBarrial{
  position: relative;
  text-align: center;
  color: aliceblue;
  margin-top: 0 50%;

}

button {
  margin-left: 10px;
}

